h1 {
  color: white;
  padding:15px;
}
#container {
  background-color: #808080;
  height: 700px;
  width: 300px;
}
div > div {
  background-color: #fea500;
  width: 130px;
  height: 130px;
  margin:10px;
  margin-left:30px;
}